<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='bootstrap.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='style.css' type='text/css' media='all'/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <title> Add Products</title>
</head>
<body class="add-product-page">
    <div class="section-1">
        <div class="container-fluid dark">
            <div class="container">
                <h1>Add Product</h1>
                <hr>
                <div class="add-form">
                    <form action="/api/products/add" method="POST" class="thisForm">
                        <input type="text" value="title" name="title" placeholder="Title" class="productTitle">
                        <input type="text" value="price" name="price" placeholder="Price" class="productPrice">
                        <input type="text" value="imageUrl" name="imageUrl" placeholder="Image URL" class="productImageUrl">
                        <input type="text" value="description" name="description" placeholder="Description" class="productDescription">
                        <input type="number" value="quantity" name="quantity" placeholder="Quantity" class="productQuantity">
                        <select name="brand" class="productBrand">

                        </select>
                        <select name="category" class="productCategory">

                        </select>
                        <select name="color" name="productColor">

                        </select>
                        <select name="fit" class="productFit">

                        </select>
                        <select name="size" class="productSize">

                        </select>
                        <select name="tag" class="productTag">

                        </select>
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/product.js"></script>
</body>
</html>