<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='bootstrap.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='style.css' type='text/css' media='all'/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <title>Brand</title>
</head>
<body class="brand-page">
    <div class="section-1">
        <div class="container-fluid dark">
            <div class="container">
                <h1>Brands</h1>
                <hr>

                <div class="brandList">

                </div>
                <h2>Add Brand</h2>
                <div class="add-form">
                    <form action="/api/admin/brand/add" method="POST" class="thisForm">
                        <input type="text" name ="title" value="title" placeholder="Title" class="categoryTitle">
                        <input type="text" name="imageUrl" value="imageUrl" placeholder="Image URL" class="categoryImageUrl">
                        <button type="submit">Add</button>
                    </form>
                </div>
                <div class="postResult">

                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script></body>
</html>