<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='bootstrap.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='style.css' type='text/css' media='all'/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <title>Category</title>
</head>
<body class="category-page">
    <div class="section-1">
        <div class="container-fluid dark">
            <div class="container">
                <h1>Categories</h1>
                <hr>

                <h2>Add Category</h2>
                <div class="add-form">
                    <form action="/api/category/add" method="POST">
                        <input type="text" value="title" placeholder="Title">
                        <button type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>