@charset "UTF-8";
/*1024px styling*/
/* SCREENS BIGGER THEN 1024 */
@media screen and (min-width: 1024px) {
  .home-page h1, .home-page h2 {
    font-size: 25px; }
  .home-page span.manchet {
    font-size: 15px; }
  .home-page p {
    font-size: 15px; }
  .home-page .section-header h1 {
    float: left;
    padding-top: 70px;
    padding-left: 350px;
    margin-top: 0; }
  .home-page .section-header img.logo {
    width: 100px;
    padding-top: 20px;
    padding-left: 20px; }
  .home-page .section-header .manchet {
    padding-bottom: 20px; }
    .home-page .section-header .manchet p {
      font-size: 15px;
      max-width: 470px; }
  .home-page .section-header .button-pair {
    padding-top: 10px;
    padding-left: 280px; }
    .home-page .section-header .button-pair button {
      max-width: 150px;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      padding-right: 2px;
      border-width: 1px;
      float: left; }
  .home-page .section-header .background-vector {
    margin-top: -70px; }
  .home-page .menu {
    font-size: 15px;
    padding-bottom: 0;
    padding-top: 7px;
    padding-left: 170px; }
    .home-page .menu li a {
      padding-left: 10px;
      padding-right: 10px; }
    .home-page .menu li .home {
      border-bottom-width: 2px;
      padding-bottom: 5px; }
  .home-page .section-1 h2 {
    padding-left: 170px; }
  .home-page .section-1 .manchet {
    padding-left: 170px;
    max-width: 750px; }
  .home-page .section-1 .p-manchet {
    padding-top: 130px;
    padding-bottom: 10px;
    max-width: 660px;
    padding-left: 170px; }
    .home-page .section-1 .p-manchet img {
      height: auto;
      max-width: 120px; }
  .home-page .section-1 .p-bottom {
    padding-bottom: 90px;
    max-width: 660px;
    padding-left: 170px; }
    .home-page .section-1 .p-bottom img {
      height: auto;
      max-width: 120px; }
  .home-page .section-1 .our-work-btn {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 0; }
  .home-page .section-1 .about-us-btn {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-width: 1px; }
  .home-page .section-2 {
    background-size: contain;
    background-position: right bottom;
    margin-top: 0; }
    .home-page .section-2 h2 {
      padding-top: 0;
      padding-bottom: 0; }
    .home-page .section-2 .tekst-element {
      height: auto; }
    .home-page .section-2 .column-1 {
      padding-left: 170px; }
    .home-page .section-2 .p-column-2 {
      padding: 0;
      padding-left: 30px;
      max-width: 270px; }
    .home-page .section-2 .underoverskrift {
      float: left; }
    .home-page .section-2 .brødtekst {
      float: left; }
  .home-page .section-3 .contact {
    max-width: 290px;
    margin-left: 170px; }
    .home-page .section-3 .contact p {
      margin: 0; }
  .home-page .section-3 .fund {
    max-width: 290px;
    margin-left: 20px; }
    .home-page .section-3 .fund button {
      margin-top: 0;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 2px; }
  .home-page .section-footer img {
    max-width: 100px;
    margin-top: 0;
    padding-top: 30px; }
  .home-page .section-footer hr {
    margin-top: 15px; } }
/* SCREENS SMALLER THEN 1024 */
@media screen and (max-width: 1024px) {
  .home-page h1, .home-page h2 {
    font-size: 25px; }
  .home-page span.manchet {
    font-size: 15px; }
  .home-page p {
    font-size: 15px; }
  .home-page .section-header h1 {
    float: left;
    padding-top: 70px;
    padding-left: 350px;
    margin-top: 0; }
  .home-page .section-header img.logo {
    width: 100px;
    padding-top: 20px;
    padding-left: 20px; }
  .home-page .section-header .manchet {
    padding-bottom: 20px; }
    .home-page .section-header .manchet p {
      font-size: 15px;
      max-width: 470px; }
  .home-page .section-header .button-pair {
    padding-top: 10px;
    padding-left: 280px; }
    .home-page .section-header .button-pair button {
      max-width: 150px;
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2px;
      padding-right: 2px;
      border-width: 1px;
      float: left; }
  .home-page .section-header .background-vector {
    margin-top: -70px; }
  .home-page .menu {
    font-size: 15px;
    padding-bottom: 0;
    padding-top: 7px;
    padding-left: 170px; }
    .home-page .menu li a {
      padding-left: 10px;
      padding-right: 10px; }
    .home-page .menu li .home {
      border-bottom-width: 2px;
      padding-bottom: 5px; }
  .home-page .section-1 h2 {
    padding-left: 170px; }
  .home-page .section-1 .manchet {
    padding-left: 170px;
    max-width: 750px; }
  .home-page .section-1 .p-manchet {
    padding-top: 130px;
    padding-bottom: 10px;
    max-width: 660px;
    padding-left: 170px; }
    .home-page .section-1 .p-manchet img {
      height: auto;
      max-width: 120px; }
  .home-page .section-1 .p-bottom {
    padding-bottom: 90px;
    max-width: 660px;
    padding-left: 170px; }
    .home-page .section-1 .p-bottom img {
      height: auto;
      max-width: 120px; }
  .home-page .section-1 .our-work-btn {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 0; }
  .home-page .section-1 .about-us-btn {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-width: 1px; }
  .home-page .section-2 {
    background-size: contain;
    background-position: right bottom;
    margin-top: 0; }
    .home-page .section-2 h2 {
      padding-top: 0;
      padding-bottom: 0; }
    .home-page .section-2 .tekst-element {
      height: auto; }
    .home-page .section-2 .column-1 {
      padding-left: 170px; }
    .home-page .section-2 .p-column-2 {
      padding: 0;
      max-width: 220px; }
    .home-page .section-2 .underoverskrift {
      float: left; }
    .home-page .section-2 .brødtekst {
      float: left; }
  .home-page .section-3 .contact {
    max-width: 250px;
    margin-left: 170px; }
    .home-page .section-3 .contact p {
      margin: 0; }
  .home-page .section-3 .fund {
    max-width: 250px;
    margin-left: 20px; }
    .home-page .section-3 .fund button {
      margin-top: 0;
      font-size: 15px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 2px; }
  .home-page .section-footer img {
    max-width: 100px;
    margin-top: 0; }
  .home-page .section-footer hr {
    margin-top: 15px; } }

/*# sourceMappingURL=query1024.css.map */
