/*480px Styling*/

@media screen and (max-width: 480px) {

    .home-page{

        h1, h2{
            font-size: 17px;
        }

        span.manchet{
            font-size: 7px;
        }

        p{
            font-size: 7px;
        }

        .section-header{

            img.logo{
                width: 50px;
                padding-top: 15px;
                padding-left: 5px;
            }

            .manchet{

                p{
                    font-size: 7px;
                    max-width: 220px;
                }
            }

            .button-pair{

                padding-top: 35px;

                button{
                    max-width: 70px;
                    font-size: 7px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 2px;
                    padding-right: 2px;
                    border-width: 1px;
                    margin: 5px;
                }
            }

            .background-vector{
                margin-top: -40px;
            }
        }

        .menu{
            font-size: 7px;
            padding-bottom: 15px;
            float: left;
            padding-left: 50px;

            li{
                a{
                    padding-left: 5px;
                    padding-right: 5px;
                }
                
                .home{
                    border-bottom-width: 1px;
                    padding-bottom: 3px;
                }
            
            }
    
        }
    
        ul{
            padding: 0;
        }

        h1{
            padding-top: 50px;
            font-size: 17px;
        }
    
        .section-1{
            
            h2{
                padding-left: 80px;
                padding-top: 5px; 
            }

            .manchet{
                padding-left: 80px;
                max-width: 350px;
            }

            .p-manchet{
                padding-top: 70px;
                padding-bottom: 10px;
                max-width: 370px;
                padding-left: 80px;
                img{
                    height: auto;
                    width: 70px;
                }
                
            }

            .p-bottom{
                padding-bottom: 90px;
                max-width: 370px;
                padding-left: 80px;
                img{
                    height: auto;
                    width: 70px;
                }
            }

            .our-work-btn{
                font-size: 7px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                margin-bottom: 0;
            }

            .about-us-btn{
                font-size: 7px;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                border-width: 1px;
            
            }
        }

        .section-2{
            background-size: contain;
            background-position: right bottom;
            margin-top: 0;

            h2{
                padding-top: 0;
                padding-bottom: 0;
            }

            .tekst-element{
                height: auto;
            }

            .column-1{
                padding-left: 80px;
            }

            .p-column-2{
                padding: 0;
                max-width: 150px;
            }

            .underoverskrift{
                float: left;
            }

            .brødtekst{
                float: left;

            }
        }

        .section-3{

            .contact{
                max-width: 200px;

                p{
                    margin: 0;
                }
            }

            .fund{
                max-width: 200px;
                margin-left: 20px;

                button{
                    margin-top: 0;
                    font-size: 7px;
                    padding-left: 20px;
                    padding-right: 20px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 2px;
                }
            }


        }

        .section-footer{
            img{
                max-width: 50px;
                margin-top: 0;
            }


            hr{
                margin-top: 15px;
            }
        }

    }
    
    .our-work-page{

        .section-header{

            img.logo{
                max-width: 40px;
                margin-top: 15px;
                margin-left: 5px;
            }

            .menu{
                font-size: 7px;
                padding-top: 0;
                margin-left: 80px;

                li{
                    a{
                        padding-right: 5px;
                        padding-left: 10px;
                    }

                    .our-work{
                        border-bottom-width: 1px;
                    }
                }
            }

            h2{
                font-size: 17px;
                float: left;
                padding-left: 70px;
                padding-top: 0;
            }

            .manchet{
                p{
                    font-size: 7px;
                    padding-left: 70px;
                    max-width: 330px;
                }
            }

            .button-pair{

                padding-left: 70px;

                button{
                    max-width: 80px;
                    font-size: 7px;
                    border-width: 1px;
                    border-radius: 2px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-right: 0px;
                }
            }

            .background-image{
                
            }
        }

        .section-1{

            h2{
                font-size: 17px;
                padding-left: 70px;
                padding-top: 10px;
            }

            .manchet{

                p{
                    font-size: 7px;
                    padding-left: 70px;
                    max-width: 390px;
                    padding-bottom: 20px;
                }
            }
        }

        .section-2{

            .underoverskrift{
                font-size: 12px;
            }

            p{
                font-size: 7px;
            }
            .column-1{

                padding-left: 50px;

                img{
                    max-width: 32px;
                    margin-left: 30px;
                }
            }
        }

        
    }
}
 