<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='bootstrap.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='style.css' type='text/css' media='all'/>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
    <title>Products</title>
</head>
<body class="products-page">
    <div class="section-1">
        <div class="container-fluid dark">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <div class="container">
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                </div>
                <h1>Products</h1>
                <hr>
                <button>Sort</button>
                <div class="products">
                    <img src="/views/img/products/coming-soon.jpg" alt="coming-soon">
                    <p>Title</p>
                    <p>Price</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/products.js"></script>
</body>
</html>