$main-color: #141a24;
$headline-font: "Times New Roman", Times, serif;
$paragraf-font: "Arial";
$secondary-color: #16cdad;

.container{
    max-width: 940px;
}

.dark{
    background-color: $main-color;
}

.p0{
    padding: 0 !important;
}

.add-product-page{
    .section-1{
        h1{
            color: #16cdad;
        }
    }
}


/*@import 'query/query1366';
//@import 'query/query1024';
@import 'query/query768';
@import 'query/query480';
@import 'query/ipad';
@import 'query/iphone';*/