$main-color: #141a24;
$headline-font: "Times New Roman", Times, serif;
$paragraf-font: "Arial";
$secondary-color: #16cdad;

.menu{
    font-size: 19px;
}

.container{
    max-width: 940px;

}

p{
    font-size: 16px;
}

h2, h1{
    font-size: 55px;
}

.p0{
    padding: 0 !important;
}

blockquote{
    font-size: 23px;
    font-family: $headline-font;
    border: none;
    padding: 0;
    height: 130px;
    margin: 0 0 30px;

    &:before{
        content: '“';
        font-family: $headline-font;
        font-size: 85px;
        float: left;
        height: 20px;
        font-weight: bold;
        color: $secondary-color;
        position: relative;
        top: -30px;
    }
}

.home-page{

    .section-header{

        img.logo {
            height: auto;
            max-width: 110px;
            padding-left: 20px;
            padding-top: 20px;
            float: left;
        }
    
        .manchet{
            color: white;
    
            p{
                margin: auto;
                max-width: 600px;
            }
        }
    
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }
    
        .button-pair{
            
            padding-top: 75px;
            text-align: center;
            margin: auto;
    
            button{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;
                margin: 13px;
                border-radius: 2.5px;
                border-style: solid;
                width: 200px;
                border-width: 2px;;
            }
        }
    
        .background-vector{
            height: auto;
            width: 100%;
            margin-top: -170px;
        }
    }
    
    .menu{
        padding-bottom: 50px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: inline-block;
        }
    
        li{
    
            a{
                display: block;
                color: white;
                text-align: center;
                padding-top: 20px;
                padding-left: 23px;
                padding-right: 23px;
                text-decoration: none;
    
                &:hover{
                    color: $secondary-color;
                }
            }
    
            .home{
                border-bottom: $secondary-color;
                border-bottom-width: 3px;
                border-bottom-style: solid;
                padding-bottom: 7px;
            }
    
        }
    
        
    }
    
    h1{
        color: #fff;
        font-family: $headline-font;
        text-align: center;
        font-size: 55px;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    
    .contact-btn{
        color: $main-color;
        border-color: $secondary-color;
        background-color: $secondary-color;
        border-style: solid;
    
    }
    
    .github-btn{
        color: $secondary-color;
        background-color: $main-color;
        border-color:$secondary-color;
        border-style: solid;
    
    }
    
    h2{
        font-size: 55px;
        font-weight: bold;
    }
    
    h1,h2,h3,h4,h5,h6{
        font-family: $headline-font;
    }
    
    p{
        font-family: $paragraf-font;
        font-size: 16px;
    }
    
    span.manchet{
        font-size: 19px;
        float: left;
        width: 100%;
    }
    
    .dark{
        background-color: $main-color; 
    }
    
    .section-1{
        color: #fff;
        h2{
            padding-top: 35px;
        }
    
        .manchet{
            text-align: justify;
            max-width: 895px;
        }

        .first-box-p{
            margin-top: 7px;
        }

        .last-box{
            margin-top: -15px;
            p{
                padding-top: 10px;
            }
        }

    
    }
    

    
    .p-manchet{
        padding-top: 170px;
        padding-bottom: 210px;
        font-size: 16.31px;
        font-weight: bold;
        p{
            margin-top: 15px;
        }
    }
    
    .p-bottom{
        padding-bottom: 220px;
        font-size: 16.31px;
        font-weight: bold;

        p{
            margin-top: 15px;
        }
    }
    
    .our-work-btn{
        background-color: $secondary-color;
        border-color: $secondary-color;
        margin-bottom: 42px;
    }
    
    .about-us-btn{
        background-color: $main-color;
        border-color: #fff;
    }
    
    button{
        border-radius: 6px;
        text-align: center;
        font-size: 16px;
        font-family: $paragraf-font;
        padding: 8px 68px;
        border-style: solid;
    }
    
    .section-2{

        background-image: url("img/vector_graphic_stars.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
        padding-bottom: 50px;
        color: black;
        img{
            width: 100%;
            height: auto;
        }
    
        
    
        h2{
            padding-top: 35px;
            padding-bottom: 20px;
            font-family: $headline-font;
        }
    
        .manchet{
            padding-bottom: 35px;
            text-align: justify;
        }
    
        .underoverskrift{
            font-weight: bold;
            font-family: $paragraf-font;
            margin-bottom: 5px;
        }
    
        .brødtekst{
            font-family: $paragraf-font;
        }
    
        .tekst-element{
            height: 350px;
            font-size: 16;
        }
    
        .column-1{
            max-width: 400px;
        }
    
        .p-column-2{
            padding-left: 60px;
            max-width: 505px;
        }
    
    }
    
    .section-3{

        background-color: $secondary-color;
        .contact{
            margin-top: 60px;
            margin-bottom: 60px;
            color: black;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            max-width: 400px;
            background-color: white;
            padding: 25px;
            max-height: 285px;
    
            .header{
                font-weight: bold;
                
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            max-height: 285px;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 60px;
            color: white;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            max-width: 400px;
            padding: 25px;
            
    
            .header{
                font-weight: bold;
            }
            
            button{
                margin-top: 40px;
                color: black;
                background: #FFF;
                border: none;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }

        .contact-element{
            float: left;
            width: 100%;
            img{
                float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }

        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }

        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
        
    }
    
    .section-footer{
        text-align: center;
        margin: auto;
    
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
    
        img{
            padding-top: 20px;
            height: auto;
            max-width: 170px;
            margin-top: -220px;
        }
    
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}

.about-us-page{

    .container{
        max-width: 940px;
    
    }
    .dark{
        background-color: $main-color; 
    }
    h1,h2,h3,h4,h5,h6{
        font-family: $headline-font;
    }
    
    p{
        font-family: $paragraf-font;
        font-size: 16px;
    }

    .section-header{

        .dark{
            background-image: url("img/vector_graphic_stars_about_us.png");
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
        }

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        h2{
            color: $secondary-color;
            font-weight: bold;
            font-size: 55px;
        }

        .manchet{
            color: white;
            width: 100%;
            font-size: 19px;

            p{
                margin: auto;
                max-width: 430px;
                float: left;
            }
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        .button-pair{

            margin: auto;
            width: 100%;
            float: left;
            padding-top: 15px;
    
            button{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;
                margin: 13px;
                border-radius: 2.5px;
                border-style: solid;
                width: 200px;
            }

            .read-more{
                color: $main-color;
                background-color: $secondary-color;
                border-color: $secondary-color;
            }

            .contact-us{
                color: $secondary-color;
                background-color: $main-color;
                border-color: $secondary-color;
            }
        }

        img.vector{
            height: auto;
            width: 100%;
            margin-top: -320px;
            margin-left: -60px;
        }

        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .about-us{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        
            
        }
    }

    .section-1{
        color: white;
        background-color: $secondary-color;
        position: relative;

        h2{
            font-weight: bold;
            font-size: 55px;
            padding-top: 20px;
        }

        .manchet{
            width: 600px;
            display: inline-block;
            font-size: 19px;
            padding-bottom: 30px;
        }

        .underoverskrift{
            color: $main-color;
            font-weight: bold;
        }

        .brødtekst{
            padding-top: 0;
            padding-bottom: 30px;
        }

        .pentagon{
            position: absolute;
            right: 0;
            bottom: 0;
        }

    }

    .section-2{
        color: black;
        background-color: white;

        padding-top: 35px;

        .column-1{

            h2{
                font-size: 55px;
                font-weight: bold;
                padding-bottom: 30px;
            }

            p{
                font-size: 16px;
                padding-bottom: 25px;
            }

            .mirage-btn{
                color: $secondary-color;
                background-color: $main-color;
                border-radius: 3px;
                border-color: $main-color;
                border-style: solid;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 32px;
                padding-right: 32px;
            }
        }

        .column-2{

            h2{
                font-size: 55px;
                font-weight: bold;
                padding-bottom: 30px;
            }

            img{
                height: auto;
                width: 140px;
                padding-bottom: 20px;
            }

            .underoverskrift{
                padding-bottom: 0;
            }

            p{
                font-size: 16px;
                padding-bottom: 20px;
            }

            .collab-btn{
                color: $secondary-color;
                background-color: $main-color;
                border-radius: 3px;
                border-color: $main-color;
                border-style: solid;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 35px;
                padding-right: 35px;
            }

            .button-bottom{
                padding-bottom: 50px;
                border-style: solid;
            }
        }
    }

    .section-3{

        color: white;
        background-color: $main-color;

        h2{
            font-size: 55px;
            font-weight: bold;
            padding-top: 60px;
        }

        .manchet{
            font-size: 19px;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 750px;
        }

        p{
            padding-bottom: 10px;
        }

        ul{
            color: $secondary-color;
            padding-bottom: 20px;
        }

        li{
            padding: 7px;
        }

        .button-pair{
            padding-bottom: 50px;
            padding-top: 40px;
        }
    
        .contact-btn{
            color: $main-color;
            background-color: $secondary-color;
            border-color: $secondary-color;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 4px;
            border-style: solid;
        }

        .donate-btn{
            color: $secondary-color;
            background-color: $main-color;
            border-color: $secondary-color;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 40px;
            padding-right: 40px;
            border-radius: 4px;
            border-style: solid;
            margin-left: 30px;
        }
    }

    .section-4{

        background-color: $secondary-color;
        .contact{

            margin-top: 60px;
            margin-bottom: 60px;
            color: black;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            background-color: white;
            padding: 25px;
            height: 285px;
    
            .header{
                font-weight: bold;
                
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            height: 285px;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 60px;
            color: white;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            padding: 25px;
            
    
            .header{
                font-weight: bold;
            }
            
            button{
                margin-top: 40px;
                color: black;
                background: #FFF;
                border: none;
                border-radius: 4px;
                border-style: solid;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }

        .container-fluid{
            margin-top: -67px;
        }
    
        .contact-element{
            float: left;
            width: 100%;
            img{
                    float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
            
    }    

    .section-footer{
        text-align: center;
        margin: auto;
        
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
        
        img{
            padding-top: 20px;
            height: auto;
            width: 170px;
            margin-top: -220px;
        }
        
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}

.donate-page{

    .container{
        max-width: 940px;
    
    }
    .dark{
        background-color: $main-color; 
    }
    h1,h2,h3,h4,h5,h6{
        font-family: $headline-font;
    }
    
    p{
        font-family: $paragraf-font;
        font-size: 16px;
    }

    .section-header{

        .dark{
           // background-image: url("img/donate_grafiske_prikker.png");
            //background-repeat: no-repeat;
           // background-size: cover;
           // height: 600px;
           position: relative;
        }

        .background-image{
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        h2{
            color: $secondary-color;
            font-weight: bold;
            font-size: 55px;
            width: 600px;
            float: left;
        }

        .manchet{
            color: white;
            font-size: 19px;
            width: 100%;

            p{
                margin: auto;
            }
        }

        .manchet-upper{
            width: 600px;
            padding-bottom: 20px;
            float: left;
        }

        .manchet-lower{
            width: 550px;
            padding-bottom: 20px;
            float: left;
        }

        .p-upper{
            width: 380px;
        }

        hr{
            border-color: $secondary-color;
            width: 450px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .donate{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        }

        p{
            color: white;
        }

        .p-lower{
            border-radius: 3px;
            border: 2px solid #FFF;
            width: calc(50% - 10px);
            display: flex;
            flex-flow: row wrap;
            height: 350px;
            padding: 30px;
            padding-bottom: 20px;
            margin-top: 40px;

            &:first-of-type{
                margin-left: -15px;
                margin-right: 35px;

            }
        }

        .underoverskrift{
            color: $secondary-color;
        }

        .p-lowest{
            border-radius: 3px;
            border: 2px solid #FFF;
            width: 47%;
            padding: 25px;
            margin-top: 50px;
            margin-bottom: 85px;
            padding-bottom: 20px;
        }



    }

    .section-1{
        background-color: white;
        color: black;

        h2{
            font-size: 55px;
            font-weight: bold;
            padding-top: 50px;
            padding-bottom: 30px;
        }

        p{
            width: 750px;
            padding-bottom: 20px;
        }

        .bottom-p{
            margin-bottom: 100px;
        }
    }

    .section-2{
        background-color: $secondary-color;
        .contact{
            margin-bottom: 60px;
            color: black;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            background-color: white;
            padding: 25px;
            height: 285px;
    
            .header{
                font-weight: bold;
                
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            height: 285px;
            margin-bottom: 60px;
            margin-left: 60px;
            color: white;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            padding: 25px;
            
    
            .header{
                font-weight: bold;
            }
            
            button{
                margin-top: 40px;
                color: black;
                background: #FFF;
                border: none;
                border-radius: 4px;
                border-style: solid;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }

        .container-fluid{
            margin-top: -67px;
        }
    
        .contact-element{
            float: left;
            width: 100%;
            img{
                    float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
    }

    .section-footer{
        text-align: center;
        margin: auto;
        
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
        
        img{
            padding-top: 20px;
            height: auto;
            width: 170px;
            margin-top: -220px;
        }
        
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}

.our-work-page{
    .container{
        max-width: 940px;
    
    }
    .dark{
        background-color: $main-color; 
    }
    h1,h2,h3,h4,h5,h6{
        font-family: $headline-font;
    }
    
    p{
        font-family: $paragraf-font;
        font-size: 16px;
    }

    .section-header{

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        .background-image{
            height: auto;
            float: right;
            margin-top: -490px;
            margin-right: 300px;
        }

        h2{
            color: white;
            font-weight: bold;
            font-size: 55px;
            padding-top: 40px;
        }

        .manchet{
            color: white;
            width: 100%;
            font-size: 19px;

            p{
                margin: auto;
                max-width: 600px;
                float: left;
                padding-top: 20px;
            }
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        .button-pair{

            margin: auto;
            width: 100%;
            float: left;
            padding-top: 15px;
    
            button{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;
                margin: 13px;
                border-radius: 2.5px;
                border-style: solid;
                width: 200px;
            }

            .read-more{
                color: $main-color;
                background-color: $secondary-color;
                border-color: $secondary-color;
            }

            .contact-us{
                color: $secondary-color;
                background-color: $main-color;
                border-color: $secondary-color;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        img.vector{
            height: auto;
            width: 100%;
            margin-top: -320px;
            margin-left: -60px;
        }

        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .our-work{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        
            
        }
    }

    .section-1{
        background-color: white;
        color: black;

        h2{
            font-size: 55px;
            font-weight: bold;
            padding-top: 40px;
        }

        .manchet{
            width: 100%;
            
            p{
                padding-bottom: 50px;
                width: 750px;
            }
        }
    }

    .section-2{
        background-color: $secondary-color;
        color: black;

        .column-1{

            margin-top: -25px;
            img{
                height: auto;
                width: 35px;
            }

        }

        .column-2{

            margin-top: -25px;

            img{
                height: auto;
                width: 35px;
            }
        }

        .underoverskrift{
            padding-top: 25px;
        }

        button{
            background-color: white;
            color: black;
            padding-bottom: 5px;
            padding-top: 5px;
            padding-left: 25px;
            padding-right: 25px;
            border-radius: 4px;
            border-color: white;
            border-style: solid;
            margin-top: 15px;
            margin-bottom: 30px;
        }

        p{
            max-width: 380px;
        }

    }

    .section-3{
        color: white;

        h2{
            font-size: 55px;
            font-weight: bold;
            padding-top: 25px;
        }

        .manchet{
            width: 100%;
            padding-top: 20px;
            p{
                width: 730px;
                margin-bottom: 60px;
            }
        }

        .read-more-btn{
            background-color: $secondary-color;
            color: white;
            border-color: $secondary-color;
            border-radius: 4px;
            border-style: solid;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 100px;
            padding-right: 100px;
            margin-top: 25px;
            margin-bottom: 40px;
        }

        .underoverskrifter{
            
            p{
                text-align: center;
                float: left;
                padding-top: 20px;
            }
        }

    }

    .section-4{

        background-color: white;
        color: black;

        h2{
            font-size: 55px;
            font-weight: bold;
            padding-top: 25px;
            padding-bottom: 10px;
        }

        .manchet{
            width: 100%;
            
            p{
                width: 740px;
                margin-bottom: 50px;
            }
        }

        .buttons{

            button{
                border-radius: 4px;
                border-color: black;
                border-style: solid;
                border-width: 1px;
                background-color: white;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                width: 150px;
                margin-bottom: 30px;
                margin-right: 50px;
            }
            

        }


    }

    .section-5{
        color: white;

        .container-fluid{
            padding-bottom: 50px;
        }

        h2{
            font-size: 55px;
            font-weight: bold;
            padding-top: 25px;
        }

        .manchet{
            width: 100%;

            p{
                width: 800px;
            }
        }

        a{
            float: right;
            font-style: none;
            color: white;
        }

        hr{
            border-color: $secondary-color;
            width: 100%;
            height: 2px;
            float: left;
            padding-bottom: 20px;
        }

        .underoverskrift{
            color: $secondary-color;
        }

        p{
            width: 297px;
        }

        .button{
            background-color: $secondary-color;
            width: 300px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 4px;
            border-color: $secondary-color;
            border-style: solid;
            float: left;
            margin-bottom: 50px;


            .text{
                color: white;
                float: left;
                padding-left: 6px;
            }

            img{
                float: right;
                height: auto;
                width: 11px;
                padding-top: 2px;
            }
        }

        video{
            height: auto;
            width: 340px;
            float: right;
        }

        .brødtekst{
            padding-bottom: 15px;
        }

        .first-block{
            
            margin-top: -15px;
        }

        .second-block{

            .element-1{
                margin-top: 20px;
            }

            .element-2{
                margin-top: -25px;
                p{
                    float: right;
                    margin-right: 45px;
                }

                .brødtekst{
                    margin-top: -5px;
                }
            }
        }

    }

    .section-6{

        background-color: $secondary-color;
        .contact{

            margin-top: 60px;
            margin-bottom: 60px;
            color: black;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            background-color: white;
            padding: 25px;
            height: 285px;
    
            .header{
                font-weight: bold;
                
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            height: 285px;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 60px;
            color: white;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            padding: 25px;
            
    
            .header{
                font-weight: bold;
            }
            
            button{
                margin-top: 40px;
                color: black;
                background: #FFF;
                border: none;
                border-color: white;
                border-radius: 4px;
                border-style: solid;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }
    
        .contact-element{
            float: left;
            width: 100%;
            img{
                    float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
            
    }    

    .section-footer{
        text-align: center;
        margin: auto;
        
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
        
        img{
            padding-top: 20px;
            height: auto;
            width: 170px;
            margin-top: -220px;
        }
        
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}


.network-page{

    .section-header{

        background-color: $main-color;

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        
        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .home{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        
            
        }
    }

    .section-1{
        background-color: white;
        color: black;
        padding-bottom: 10px;

        p{
            font-size: 16px;
        }

        h2{
            font-size: 55px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 50px;
            padding-bottom: 60px;
        }

        h4{
            font-size: 25px;
            font-weight: bold;
            padding-bottom: 50px;
        }

        img{
            height: auto;
            width: 140px;
            padding-bottom: 25px;
        }

        .underoverskrift{
            margin-bottom: 0px;
        }

        .brødtekst{
            padding-bottom: 10px;
            width: 400px;
        }

        blockquote{
            width: 300px;
        }
    }

    .section-2{

        background-color: $secondary-color;
        .contact{

            margin-top: 60px;
            margin-bottom: 60px;
            color: black;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            background-color: white;
            padding: 25px;
            height: 285px;
    
            .header{
                font-weight: bold;
                
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            height: 285px;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 150px;
            color: white;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            padding: 25px;            
    
            .header{
                font-weight: bold;
            }
            
            button{
                margin-top: 40px;
                color: black;
                background: #FFF;
                border: none;
                border-radius: 4px;
                border-style: solid;
                border-color: white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }

        .container-fluid{
        }
    
        .contact-element{
            float: left;
            width: 100%;
            img{
                    float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
            
    }    

    .section-footer{
        text-align: center;
        margin: auto;
        background-color: $main-color;
        
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
        
        img{
            padding-top: 20px;
            height: auto;
            width: 170px;
            margin-top: -220px;
        }
        
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}

.scroll-menu-page{

    .section-header{

        background-color: $main-color;

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        
        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .our-work{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        
            
        }
    }

    .section-scroll{

        background-color: $secondary-color;
        color: black;

        p{
            padding-top: 30px;
            font-size: 16px;
            width: 380px;
        }

       

        button{
            background-color: white;
            color: black;
            border-style: solid;
            border-color: white;
            border-radius: 4px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 170px;
            margin-bottom: 25px;
        }
       
    }
}

.static-page{

    .section-header{

        background-color: $main-color;

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        
        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .home{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        
            
        }
    }

    .section-1{

        color: black;
        padding-bottom: 50px;

        h2{
            font-size: 55px;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            padding-top: 40px;
            padding-bottom: 30px;
        }

        h4{
            font-size: 20px;
            font-weight: bold;
        }

        p{
            padding-bottom: 20px;
            width: 610px;
        }

        table{
            margin-bottom: 20px;
        }

       td{
            padding-right: 55px;
            padding-bottom: 5px;
        }

        ul{
            color: $secondary-color;
            float: left;
            padding-left: 15px;
            width: 610px;
            list-style-image: url("img/list-bullet.png");

            li{
                padding-bottom: 20px;
            }
        }
    }

    .section-2{

        background-color: $secondary-color;
        .contact{

            margin-top: 60px;
            margin-bottom: 60px;
            color: black;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            background-color: white;
            padding: 25px;
            height: 285px;
    
            .header{
                font-weight: bold;
                
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            height: 285px;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 200px;
            color: white;
            border-radius: 2.5px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            padding: 25px;            
    
            .header{
                font-weight: bold;
            }
            
            button{
                margin-top: 40px;
                color: black;
                background: #FFF;
                border: none;
                border-radius: 4px;
                border-style: solid;
                border-color: white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }
    
        .contact-element{
            float: left;
            width: 100%;
            img{
                    float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
            
    }    


    .section-footer{
        text-align: center;
        margin: auto;
        background-color: $main-color;
        
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
        
        img{
            padding-top: 20px;
            height: auto;
            width: 170px;
            margin-top: -220px;
        }
        
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}

.talks-and-publications-page{

    .section-header{

        background-color: $main-color;

        img.logo {
            height: auto;
            width: 150px;
            margin-top: 20px;
            margin-left: 30px;
            float: left;
        }

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    
        li{
            float: left;
        }
    
        li.a{
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            font-size: 19px;
        }

        
        .menu{
            padding-bottom: 50px;
            padding-top: 25px;

            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: inline-block;
            }
        
            li{
        
                a{
                    display: block;
                    color: white;
                    text-align: center;
                    padding-top: 20px;
                    padding-left: 23px;
                    padding-right: 23px;
                    text-decoration: none;
        
                    &:hover{
                        color: $secondary-color;
                    }
                }
        
                .home{
                    border-bottom: $secondary-color;
                    border-bottom-width: 3px;
                    border-bottom-style: solid;
                    padding-bottom: 7px;
                }
        
            }
        
            
        }
    }

    .section-1{

        background-color: white;
        color: black;
        padding-bottom: 50px;

        h2{
            font-family: 'Times New Roman', Times, serif;
            font-size: 55px;
            font-weight: bold;
            padding-top: 35px;
            padding-bottom: 5px;
        }

        .manchet{
            font-size: 19px;
            width: 100%;
            p{
                width: 880px;
            }
        }

        table{
            margin-bottom: 35px;

            td{
                padding-right: 25px;
                font-size: 19.2px;
                font-family: Arial, Helvetica, sans-serif;
            }

            .hannes-mehnert{
                border-bottom: $secondary-color;
                border-bottom-width: 3px;
                border-bottom-style: solid;
                padding-bottom: 3px;
            }
        }

        h3{
            font-size: 45px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
            padding-bottom: 25px;
        }

        .pub-p{
            font-weight: bold;
            font-size: 20px;
            padding-right: 10px;
            width: 300px;
            margin-right: 10px;
        }

        .button{
            background-color: $secondary-color;
            width: 250px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 4px;
            border-color: $secondary-color;
            border-style: solid;
            float: left;
            margin-bottom: 50px;


            .text{
                color: white;
                float: left;
                padding-left: 6px;
            }

            img{
                float: right;
                height: auto;
                width: 11px;
                padding-top: 2px;
            }
        }

        video{
            height: auto;
            width: 280px;
        }

        .underoverskrift{
            font-weight: bold;
            font-size: 20px;
            padding-top: 10px;
            width: 300px;
        }

        .underoverskrift-2{
            color: $secondary-color;
            font-size: 16px;
            width: 300px;
        }

        .brødtekst{
            font-size: 16px;
            width: 280px;
            padding-bottom: 35px;
        }
    }

    .section-2{

        background-color: $secondary-color;
        .contact{

            margin-top: 60px;
            margin-bottom: 60px;
            color: black;
            border-radius: 4px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            background-color: white;
            padding: 25px;
            height: 285px;
    
            .header{
                font-weight: bold;
                font-size: 20px;
                
            }

            p{
                max-width: 300px;
            }

            img{
                width: 20px;
                height: auto;
            }
    
        }
    
        .fund{
            height: 285px;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: 200px;
            color: white;
            border-radius: 4px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
            width: 400px;
            padding: 25px;            
    
            .header{
                font-weight: bold;
            }

            p{
                max-width: 300px;
            }
            
            button{
                margin-top: 55px;
                color: black;
                background: #FFF;
                border: none;
                border-radius: 4px;
                border-style: solid;
                border-color: white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 60px;
                padding-right: 60px;
                &:hover{
                    background: #FFF;
                }
            }
        }
    
        .contact-element{
            float: left;
            width: 100%;
            img{
                    float: left;
            }
        }
        .mail{
            img{
                margin-top: 5.5px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .key{
            img{
                margin-top: 5.5px;
                width: 24px;
            }
            p{
                padding-left: 10px;
            }
        }
    
        .fingerprint{
            img{
                margin-top: 2px;
                width: 23px;
            }
            p{
                padding-left: 10px;
            }
        }
            
    } 

    .section-footer{
        text-align: center;
        margin: auto;
        background-color: $main-color;
        
        hr{
            border-color: #434850;
            width: 100%;
            border-width: 1.5px;
            padding: 0;
            margin-top: 130px ;
        }
        
        img{
            padding-top: 20px;
            height: auto;
            width: 170px;
            margin-top: -220px;
        }
        
        p{
            color: $secondary-color;
            font-size: 14;
            padding-bottom: 15px;
        }
    }
}

@import 'query/query1366';
//@import 'query/query1024';
@import 'query/query768';
@import 'query/query480';
@import 'query/ipad';
@import 'query/iphone';